*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body{
    background-color: gray;
}

header{
    background-color: #ff0000;
    height: 70px;
    display: flex;
    img{
        height: 40px;
        margin: 15px;
    }

    .fa-cart-arrow-down{
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-top: 20px ;
        margin-left: 600px;
    }
}

#carouselExampleIndicators{
    margin: 60px;
}


.tienda{
    background-color: #242323;
    padding: 30px;

    h5{
        text-align: center;
        font-size: 60px;
        text-transform: uppercase;
        font-weight:700;
        color: aliceblue;
    }
}

.row{
    padding: 80px 0px 80px;
    background-color: #1b1b1bc5;

    .card{
        background-color: gray;
        margin: 10px;
        margin-left: 60px;
        width: 15%;

        img{
            height: 150px;
        }

        .card-body{
            h5{
                font-size: 25px;
                text-align: center;
            }

            p{
                font-size: 20px;
                text-align: center;
                margin: 20px;
            }

            button{
                background-color: #ff0000c5;
                margin-left: 20px;
                height: 60px;
                width: 150px;
            }
        }
    }
}

.carrito{
    background-color:#242323;
    padding-top: 20px;
    h4{
        text-align: center;
        margin: 40px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        color: aliceblue;
    }

    th{
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        background-color: #242323;
        color: aliceblue;
    }

    td{
        text-align: center;
        font-size: 20px;
        background-color: gray;
    }

    h3{
        text-transform: uppercase;
        border-bottom: solid black 4px;
        float: right;
        margin-right: 60px;
    }
}

